<!DOCTYPE HTML>
<html>
    {{>header}}
    <body>  
        <div class="main-container">
            {{>nav}} 
            <div class = "main-content">
                <section id ="contact">
                    <div class = "g-heading">
                        <div class = "g-watermark">
                            THANK YOU
                        </div>
                    </div>
                    <div class = "contact-content" id = "data">
                        <center><p id = 'thanks' >Thank you :)</p></center> 
                    </div>  
                    {{>footer}}
                </section>
            </div>          
        </div> 
        <script src ="./js/contact.js"></script>
    </body>
</html>   