<div class="left-sec">
    <div class = "logo">
        <center><img src="./img/srujana.jpeg" alt="Srujana Penugonda"></center>
        <b><p>SRUJANA PENUGONDA</p></b>
    </div>
    <div class ="nav">
        <ul>
            <li><a href="home"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="about"><i class="fa fa-user"></i>About</a></li>
            <li><a href="skills"><i class="fa fa-list"></i>Skills</a></li>
            <li><a href="projects"><i class="fa fa-briefcase"></i>Projects</a></li>
            <li><a href="experience" ><i class="fa fa-black-tie"></i>Experience</a></li>
            <li><a href="contact"><i class="fa fa-comments"></i>Contact</a></li>
        </ul>
    </div>
    <div class = "contact-info">
        <a href="https://www.linkedin.com/in/srujana-penugonda-49b9b9148" ><i class="fa fa-linkedin fa-lg"></i></a>
        <a href="https://github.com/SRUJANA-PENUGONDA13" ><i class="fa fa-github fa-lg"></i></a>
        <a href="https://leetcode.com/Srujana_Penugonda/" ><i class="fa fa-code fa-lg" ></i></a>
    </div>
</div>
